.single-talk {

    .rrze-talk {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 15px;
        }
        @media (min-width: 768px) {
            gap: 30px;
        }

        .mobiletitle {
            margin-bottom: 0;
            padding-left: 15px;
            padding-right: 15px;

            .talk-organisation {
                font-weight: normal;
                color: var(--color-TextLight, #797676);
            }
        }

        .talk-details {
            background-color: var(--color-ContentRegions, #f5f7f9);
            padding: 15px;
            @media (min-width: 768px) {
                order: 2;
                flex: 25% 0 0;
            }
            @media (min-width: 1400px) {
                padding: 30px;
            }

            a {
                text-decoration-color: var(--color-TextLight, #797676);
            }

            .post-image {
                float: none;
                background: #fff;
                margin: -15px -15px 15px;
                padding-bottom: 15px;
                @media (min-width: 768px) {
                    max-width: 446px;
                    //padding-bottom: 0;
                }
                @media (min-width: 1400px) {
                    margin: -30px -30px 30px;
                    padding-bottom: 20px;
                }
            }

            svg {
                margin-right: .3em;
                fill: var(--color-TextLight, #797676);
            }

            .talk-title {
                padding-left: 15px;
                padding-right: 15px;
                font-weight: bold;
                font-size: 1.2em;
                padding-top: 15px;
            }

            .talk-speaker,
            .talk-datetime,
            .talk-location,
            .talk-participants {
                margin-bottom: 1em;
            }

            .talk-speaker {
                font-weight: bold;
                .label {
                    font-weight: normal;
                }
            }

            .talk-datetime {
                .date {
                    margin-right: 2em;
                }
            }

            .talk-media {
                ul {
                    margin: 0;
                    li {
                        list-style-type: none;
                        display: inline-block;
                        margin-right: 2em;
                        padding: 0;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            .talk-categories {
                margin-top: 1em;
                padding-top: 1em;
                border-top: solid 1px var(--color-TextLight, #797676);
                margin-bottom: 1em;
                padding-bottom: 1em;
                border-bottom: solid 1px var(--color-TextLight, #797676);
                ul {
                    margin: 0;
                    li {
                        list-style-type: none;
                        display: inline-block;
                        margin-right: .5em;
                        padding: .2em 0;
                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            background-color: var(--color-primary-ci-hell2, #ced9e7);
                            color: var(--color-primary-ci-hell2-kontrast, #000);
                            margin-right: .3em;
                            padding: 3px 5px;
                            text-decoration: none;
                            &:hover, &:focus, &:active {
                                background-color: var(--color-primary-ci-hell, #04316a);
                                color: var(--color-primary-ci-hell-kontrast, #fff);
                            }
                        }
                    }
                }
            }

            .talk-tags {
                ul {
                    display: inline;
                    margin: 0;
                    li {
                        list-style-type: none;
                        display: inline-block;
                        margin-right: .5em;
                        padding: 0 0 .3em;
                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            //color: var(--color-TextLight, #797676);
                            /*background-color: var(--color-primary-ci-hell2, #ced9e7);
                            color: var(--color-primary-ci-hell2-kontrast, #000);
                            margin-right: .3em;
                            padding: 3px 5px;
                            text-decoration: none;
                            &:hover, &:focus, &:active {
                                background-color: var(--color-primary-ci-hell, #04316a);
                                color: var(--color-primary-ci-hell-kontrast, #fff);
                            }*/
                        }
                    }
                }
            }
        }
        .talk-main {
            padding: 15px;
            @media (min-width: 768px) {
                order: 1;
                flex: 60% 1 0;
                padding: 0;
            }
        }
    }
}