.rrze-events {

    // Speaker List
    &.speaker-grid,
    &.talk-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: var(--width-gutter-half, 15px);
        @media (min-width: 768px) {
            gap: var(--width-gutter, 30px);
        }
        @media (min-width: 1400px) {
            gap: calc(var(--width-gutter, 30px) + var(--width-gutter-half, 15px));
        }
        & > article {
            flex-basis: 25%;
            flex-grow: 1;
            width: 100%;
            min-width: 30ch;
            max-width: 50ch;
            box-shadow: 0 3px 12px 0 #ebebeb;
            transition: all 0.25s;
            hyphens: auto;
            padding: var(--width-gutter-half, 15px);
            @media screen and (min-width: 992px) { // Fix for RRZE-2019
                .page #primary .hentry & {
                    flex-basis: 25%;
                    flex-grow: 1;
                    width: 100%;
                    min-width: 30ch;
                    max-width: 50ch;
                }
            }
            @media screen and (min-width: 1200px) { // Fix for RRZE-2019
                .page #primary .hentry & {
                    flex-basis: 25%;
                    flex-grow: 1;
                    width: 100%;
                    min-width: 30ch;
                    max-width: 50ch;
                }
            }
            &:hover, &:focus, &:active {
                transform: translateY(-5px);
                box-shadow: 0 2px 30px 0 #ced3d6;
            }
            .entry-header { // Fix for RRZE-2019
                margin-top: 0;
            }
            /*a.entry-main {
                display: block;
                padding: 15px 15px 20px;
                text-decoration: none;
                .rrze-elements-icon {
                    margin-left: .5em;
                }
            }*/
            .entry-cats {
                font-size: .9em;
                margin-top: 1em;
            }
            .entry-title {
                margin-top: 0;
                margin-bottom: .25em;
            }
            a.media-img {
                display: inline;
            }
            .speaker-thumbnail {
                margin: -15px -15px 15px;
                img.wp-post-image {
                    padding: 0;
                    height: 240px;
                    max-height: 50vw;
                    width: 100%;
                    object-fit: cover;
                    box-shadow: none;
                }
            }
            a.read-more {
                vertical-align: middle;
                margin-left: .5em;
                svg.rrze-elements-icon {
                    padding: 0;
                }
                &:hover, &:focus, &:active {
                    svg.rrze-elements-icon {
                        padding: 2px;
                        path {
                            fill: var(--color-button-text, #ffffff);
                        }
                    }
                }
            }
        }
    }

    &.talk-grid {
        & > article {
            padding: var(--width-gutter-half, 15px);
            .talk-data {
                div {
                    margin-bottom: .25em;
                }
                svg {
                    margin-right: .3em;
                }
                .date {
                    margin-right: 1em;
                }
            }
            .post-entry {
                margin-top: var(--width-gutter-half, 15px);
            }
        }
    }

    &.talk-list {
        span.title {
            font-weight: bold;
        }
    }

}

